@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    @apply text-center;
  }

  .App-logo {
    @apply pointer-events-none;
    height: 40vmin;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    @apply min-h-screen flex flex-col items-center justify-center text-white;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
  }

  .App-link {
    @apply text-[#61dafb];
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
